<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.maxmoons.usarmy_fatcalculator">

    <application
        android:allowBackup="true"
        android:icon="@drawable/usarmyfatcalc"
        android:label="@string/app_name"
        android:roundIcon="@drawable/usarmyfatcalc"
        android:supportsRtl="true"
        android:theme="@style/Theme.Main">
        <activity android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<activity android:name=".About.About"
    android:parentActivityName="com.example.maxmoons.usarmy_fatcalculator.MainActivity"/>
    </application>

</manifest>